<template>
  <div class="image-canvas">
    <canvas ref="canvas"
            :width="`${size.width}px`" :height="`${size.height}px`"
    />
    <slot/>
    <canvas-line v-if="currentDrawing.points.length" :line="currentDrawing"/>
  </div>
</template>

<script>
import { loadImage } from '../libs/utils';
import CanvasLine from './CanvasLine';

export default {
  name: 'DrawingCanvas',
  components: { CanvasLine },
  data() {
    return {
      provider: {
        drawContext: null,
      },
      size: {
        width: 1000,
        height: 1000,
      },
      currentDrawing: {
        tool: 'pen',
        points: [],
      },
      isDrawing: false,
      backgroundImage: null,
    };
  },
  methods: {
    capture() {
      return this.$refs.canvas.toDataURL('image/png');
    },
    async loadBackground() {
      await loadImage(this.src).then((img) => {
        this.backgroundImage = img;
        const ratio = img.width / img.height;
        if (ratio > 1) {
          this.size.height = this.size.width / ratio;
        } else {
          this.size.width = this.size.height * ratio;
        }
      });
    },
    displayBackground() {
      if (this.backgroundImage && this.provider.drawContext) {
        const ctx = this.provider.drawContext;
        const img = this.backgroundImage;
        ctx.clearRect(0, 0, this.size.width, this.size.height);
        ctx.drawImage(img, 0, 0, this.size.width, this.size.height);
      }
    },
    getCoords(event) {
      const { canvas } = this.$refs;
      return {
        x: (event.x - canvas.offsetLeft) * canvas.width / canvas.offsetWidth,
        y: (event.y - canvas.offsetTop) * canvas.height / canvas.offsetHeight,
      };
    },
    startDrawing() {
      this.isDrawing = true;
    },
    draw(event) {
      if (this.isDrawing) {
        if (event.touches) {
          const coords = this.getCoords({
            x: event.changedTouches[0].clientX,
            y: event.changedTouches[0].clientY,
          });
          this.currentDrawing.points.push(coords);
          this.$parent.renderCanvas();
        } else if (event.buttons !== 1) {
          this.endDrawing();
        } else {
          const coords = this.getCoords(event);
          this.currentDrawing.points.push(coords);
          this.$parent.renderCanvas();
        }
      }
    },
    endDrawing() {
      this.isDrawing = false;
      if (this.currentDrawing.points.length > 1) {
        this.$emit('newLine', { ...this.currentDrawing });
      }
      this.currentDrawing.points = [];
    },
  },
  props: {
    src: {
      type: String,
      default: '',
    },
    tool: {
      type: String,
      default: 'pen',
    },
  },
  watch: {
    tool(newValue) {
      this.currentDrawing.tool = newValue;
    },
  },
  mounted() {
    this.provider.drawContext = this.$refs.canvas.getContext('2d');
    // this.size.width = window.innerWidth
    // this.size.height = window.innerHeight
    this.loadBackground().then(this.displayBackground);

    this.$refs.canvas.addEventListener('touchstart', this.startDrawing);
    this.$refs.canvas.addEventListener('mousedown', this.startDrawing);

    window.addEventListener('touchmove', this.draw);
    window.addEventListener('mousemove', this.draw);

    window.addEventListener('touchend', this.endDrawing);
    window.addEventListener('mouseup', this.endDrawing);
  },
  provide() {
    return {
      provider: this.provider,
    };
  },
};
</script>

<style scoped>
  .image-canvas {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  canvas {
    max-width: 100vw;
    max-height: 100vh;
  }
</style>
