<template>
  <div class="image-editor">
    <v-prompt v-if="deleting"
              text="êtes vous sûr de vouloir supprimer l'image?"
              @close="deleting = false"
              @validate="removeImage"
    />
    <button @click="validateImage" class="button validate-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="feather feather-check">
        <polyline points="20 6 9 17 4 12"></polyline>
      </svg>
    </button>
    <button @click="deleting = true" class="button delete-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="feather feather-trash-2">
        <polyline points="3 6 5 6 21 6"></polyline>
        <path
          d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
        <line x1="10" y1="11" x2="10" y2="17"></line>
        <line x1="14" y1="11" x2="14" y2="17"></line>
      </svg>
    </button>
    <button v-if="value.lines.length>0" class="button cancel-button" @click="removeLine">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="feather feather-corner-up-left">
        <polyline points="9 14 4 9 9 4"></polyline>
        <path d="M20 20v-7a4 4 0 0 0-4-4H4"></path>
      </svg>
    </button>
    <drawing-canvas :src="value.src" @newLine="addLine" ref="canvas" :tool="currentTool">
      <canvas-line v-for="(line, i) in value.lines" :line="line" :key="i" ref="drawings"/>
    </drawing-canvas>
    <div class="toolboxContainer">
      <div class="toolbox">
        <div class="draw-tool"
             v-for="(tool, name) in drawTools"
             :key="name"
             :class="{active: name===currentTool}"
             @click="changeTool(name)"
        >
          <img :src="tool.icon" alt="">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DrawingCanvas from './DrawingCanvas';
import CanvasLine from './CanvasLine';
import VPrompt from './VPrompt';
import drawTools from '../libs/drawTools';

export default {
  name: 'ImageEditor',
  components: { VPrompt, CanvasLine, DrawingCanvas },
  props: {
    value: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      deleting: false,
      drawTools,
      currentTool: 'pen',
    };
  },
  methods: {
    changeTool(name) {
      this.currentTool = name;
    },
    addLine(line) {
      const newImage = this.value;
      newImage.lines.push(line);
      this.$emit('change', newImage);
    },
    validateImage() {
      const newImage = this.value;
      newImage.src = this.$refs.canvas.capture();
      newImage.lines.splice(0, newImage.lines.length);
      this.$emit('change', newImage);
      this.$emit('close');
    },
    removeImage() {
      this.$emit('remove');
    },
    removeLine() {
      if (this.value.lines.length > 0) {
        const newImage = this.value;
        newImage.lines.splice(newImage.lines.length - 1, 1);
        this.$emit('change', newImage);
        this.renderCanvas();
      }
    },
    renderCanvas() {
      this.$refs.canvas.displayBackground();
      if (this.$refs.drawings) {
        this.$refs.drawings.forEach((drawing) => {
          drawing.$forceUpdate();
        });
      }
    },
  },
  updated() {
    this.renderCanvas();
  },
};
</script>

<style lang="scss" scoped>
  .image-editor {
    background-color: #1c2831;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .button {
    position: absolute;
    top: 20px;
    width: 80px;
    height: 50px;
    border: none;

    svg {
      width: 60%;
      height: 100%;
    }
  }

  .cancel-button {
    background-color: #de7b25;
    right: 20px;
  }

  .delete-button {
    background-color: #de2525;
    left: 20px;
  }

  .validate-button {
    left: 50%;
    transform: translateX(-50%);
    background-color: #35c92a;
  }
    .toolboxContainer {
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 100vw;
      overflow-x: auto;
    }
    .toolbox {
      width: max-content;
    }
    .draw-tool {
      float: left;
      height: 80px;
      width: 80px;
      margin: 10px;
      background-color: grey;
      &.active {
        background-color: white;
      }
      img {
        height: 60px;
        width: 60px;
        margin: 10px;
      }
    }
</style>
