<template>
  <div class="image-input">
    <input type="file" @change="updateImage" accept="image/*">
    <div v-if="imageSrc">
      <img :src="imageSrc" alt="">
    </div>
    <button @click="sendImage">Valider</button>
  </div>
</template>

<script>
export default {
  name: 'ImageInput',
  data() {
    return {
      image: null,
      imageSrc: null,
    };
  },
  methods: {
    updateImage(event) {
      if (event.target.files[0]) {
        [this.image] = event.target.files;
        this.imageSrc = URL.createObjectURL(this.image);
        event.target.value = '';
      }
    },
    sendImage() {
      if (this.image) {
        this.$emit('sendImage', { src: this.imageSrc, id: Date.now() + Math.floor(Math.random() * 1000) });
        this.image = null;
        this.imageSrc = null;
      }
    },
  },
};
</script>

<style scoped>
  img {
    max-width: 100%;
  }
</style>
