<template>
  <div class="prompt">
    <div class="promptMask" @click="cancel"></div>
    <div class="promptInner">
      <p>{{ text }}</p>
      <button @click="validate" class="validate-button">{{ validateText }}</button>
      <button @click="cancel" class="cancel-button">{{ cancelText }}</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VPrompt',
  props: {
    text: {
      type: String,
      default: '',
    },
    validateText: {
      type: String,
      default: 'Confirmer',
    },
    cancelText: {
      type: String,
      default: 'Annuler',
    },
  },
  methods: {
    validate() {
      this.$emit('validate');
      this.$emit('close');
    },
    cancel() {
      this.$emit('cancel');
      this.$emit('close');
    },
  },
};
</script>

<style scoped>
.promptMask {
  background-color: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}
  .promptInner {
    z-index: 1001;
    text-align: center;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    max-width: 90vw;
    background-color: white;
    padding: 20px;
  }
  button {
    margin: 10px;
    width: 150px;
    height: 50px;
    border: none;
    color: white;
  }
  .validate-button {
    background-color: #35c92a;
  }
  .cancel-button {
    background-color: #de2525;
  }
</style>
