<template>
  <div id="app" :class="{locked:activeImage>-1}">
    <image-input @sendImage="addImage"/>
    <img v-for="(image, i) in images" :key="image.id" :src="image.src" @click="changeImage(i)">
    <image-editor v-if="editingImage" v-model="images[activeImage]" @close="closeEditor"
                  @remove="removeImage(activeImage)"/>
  </div>

</template>

<script>
import ImageInput from './components/ImageInput';
import ImageEditor from './components/ImageEditor';

export default {
  name: 'App',
  components: {
    ImageEditor,
    ImageInput,
  },
  data() {
    return {
      images: [],
      activeImage: -1,
    };
  },
  methods: {
    removeImage(i) {
      this.images.splice(i, 1);
      this.closeEditor();
    },
    addImage(event) {
      this.images.push({ ...event, lines: [] });
    },
    changeImage(i) {
      this.activeImage = i;
    },
    closeEditor() {
      this.activeImage = -1;
    },
  },
  computed: {
    editingImage() {
      return Boolean(this.images[this.activeImage]);
    },
  },
};
</script>

<style lang="scss">
  body {
    margin: 0;
  }

  img {
    max-width: 100%;
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;

    &.locked {
      height: 100vh;
      width: 100vw;
      overflow: hidden;
    }
  }

  * {
    box-sizing: border-box;
  }

</style>
